<style>

  /* light mode colors with catppuccin latte */
  body {
    --primary-color: #1e66f5; /* Blue */
    --primary-pale-color: #9ca0b0; /* Overlay0 */
    --primary-decoration-color: #ccd0da; /* Surface0 */
    --bg-color: #eff1f5; /* Base */
    --text-color: #4c4f69; /* Text */
    --text-pale-color: #6c6f85; /* Subtext0 */
    --text-decoration-color: #8c8fa1; /* Overlay1 */
    --highlight-mark-color: #bcc0cc; /* Surface1 */

    --callout-note-color: #7287fd; /* Lavender */
    --callout-tip-color: #40a02b; /* Green */
    --callout-important-color: #8839ef; /* Mauve */
    --callout-warning-color: #fe640b; /* Peach */
    --callout-caution-color: #e64553; /* Maroon */
  }

  /* dark mode colors with catppuccin mocha */
  body.dark {
    --primary-color: #89b4fa; /* Blue */
    --primary-pale-color: #6c7086; /* Overlay0 */
    --primary-decoration-color: #313244; /* Surface0 */
    --bg-color: #1e1e2e; /* Base */
    --text-color: #cdd6f4; /* Text */
    --text-pale-color: #a6adc8; /* Subtext0 */
    --text-decoration-color: #7f849c; /* Overlay1 */
    --highlight-mark-color: #313244; /* Surface1 */

    --callout-note-color: #89b4fa; /* Lavender */
    --callout-tip-color: #a6e3a1; /* Green */
    --callout-important-color: #cba6f7; /* Mauve */
    --callout-warning-color: #fab387; /* Peach */
    --callout-caution-color: #eba0ac; /* Maroon */
  }

  /* typography */
  body {
    --main-font: "JetBrains Mono", system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --code-font: "JetBrains Mono", monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", ui-monospace;
    --homepage-max-width: 768px;
    --main-max-width: 768px;
    --avatar-size: 64px;
    --font-size: 16px;
    --line-height: 1.75;
    --img-border-radius: 0px;
    --detail-border-radius: 0px;
    --dark-mode-img-brightness: 0.75;
    --dark-mode-chart-brightness: 0.75;
    --inline-code-border-radius: 2px;
    --inline-code-bg-color: var(--primary-decoration-color);
    --block-code-border-radius: 0px;
    --block-code-border-color: var(--primary-color);
    --detail-border-color: var(--primary-color);
  }

</style>
